*{margin: 0; padding: 0}

.navbar{
  display: flex;
  justify-content: space-between;
  background: blue;
  padding: 10px 15px;
  margin-bottom: 10px;
}
.logo{
  color: white;
  font-size: 20px;
}
.nav-menu{
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0;
}

.nav-menu li a{
  color: white;
  text-decoration: none;
}